# Streamlit Secrets Configuration
# Copy this file to secrets.toml and fill in your actual credentials
# DO NOT commit secrets.toml to version control!

# Tastytrade API Credentials
CLIENT_ID=a1c0a714-eccf-4a87-a442-37f087d50575
CLIENT_SECRET=4b9b03071dc964d40b8cfe85320326e73712c19c
REFRESH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6InJ0K2p3dCIsImtpZCI6IlRvaGQ5WV85ZXE4TG5LbF9saHgwQ0NtakExakZoOXo1STJPVzFBZG54Z1UiLCJqa3UiOiJodHRwczovL2ludGVyaW9yLWFwaS5hcjIudGFzdHl0cmFkZS5zeXN0ZW1zL29hdXRoL2p3a3MifQ.eyJpc3MiOiJodHRwczovL2FwaS50YXN0eXRyYWRlLmNvbSIsInN1YiI6IlUwMDAxNjM1OTYzIiwiaWF0IjoxNzcwOTQyODMxLCJhdWQiOiJhMWMwYTcxNC1lY2NmLTRhODctYTQ0Mi0zN2YwODdkNTA1NzUiLCJncmFudF9pZCI6IkdiZWU3NDM3NC1hZjBhLTQ0YzUtYWRmOS0xZGEwNGVhYjdhNGEiLCJzY29wZSI6InJlYWQifQ.P7zIn7eiNQqJiPSri5Ta07fmIBKfOUWJMjIPPxWWzfOp0hHZn6krZldqUrjQtFTkKthO6gTdmGAAEVcitqhwCA
